<<<<<<< HEAD
<navbar class='ui blue stackable menu'>
	<a class='header item'>Smoke Detector</a>
	
	<a href='/' id='nav_user' class='active item'>User</a>
	<a href='/camera' id='nav_camera' class='item'>Camera</a>
=======
<navbar class='ui red stackable menu'>

	<a class='header item'>Smoke Detector</a>
	
	<a href='/' id='nav_user' class='item'>User</a>
	<a href='/current_info' id='current_info' class='item'>Current Information</a>
	<a href='/camera' id='nav_camera' class='item'>Camera</a>
	
>>>>>>> dcbcadc2e56b84134d8953e43be10a95165b2ea3
</navbar>