<navbar class='ui blue stackable menu'>
	<a class='header item'>Smoke Detector</a>
	
	<a href='/' id='nav_user' class='active item'>User</a>
	<a href='/details' id='nav_camera' class='item'>Camera</a>
</navbar>