<navbar class='ui red stackable menu'>

	<a class='header item'>Smoke Detector</a>
	
	<a href='/' id='nav_user' class='item'>User</a>
	<a href='/current_info' id='current_info' class='item'>Current Information</a>
	<a href='/camera' id='nav_camera' class='item'>Camera</a>
	
</navbar>