<% include ./partials/head %>
<% include ./partials/header %>
<script type='text/javascript' src='/js/userinfo.js'></script>


<h4 class="ui dividing header">User Info</h4>

<div class="ui inverted segment">
  <div class="ui active inverted placeholder">
    <div class="image header">
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="paragraph">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</div>

<script type="text/javascript" src='/js/userinfo.js'></script>
<% include ./partials/foot %>