<% include ./partials/head %>
<script type="text/javascript" src='/js/jscolor.js'></script>
<% include ./partials/header %>

<!--- USER INPUT FORM ---->
<form class="ui form" action='/configure' method='post'>
	<h4 class="ui dividing header">User Information</h4>
	<div class="field">
		<label>Name</label>
		<div class="two fields">
			<div class="field">
				<input type="text" name="myprofile[firstName]" placeholder="First Name">
			</div>
			<div class="field">
				<input type="text" name="myprofile[lastName]" placeholder="Last Name">
			</div>
		</div>
    <div class="field">
        <label>Address</label>
        <div class="fields">
            <div class="twelve wide field">
                <input type="text" name="myprofile[address]" placeholder="Street Address">
            </div>
            <div class="four wide field">
                <input type="text" name="myprofile[address2]" placeholder="Apt #">
            </div>
        </div>
    </div>
    <div class="ui form">
        <div class="inline fields">
        <label>Phone Number</label>
            <div class="field">
                <input type="text" name="myprofile[phoneNumber]" placeholder="(xxx) xxx-xxxx">
            </div>
        </div>
    </div>
    <div class="ui form">
        <div class="inline fields">
        <label>Emergency Phone Number</label>
            <div class="field">
                <input type="text" name="myprofile[emergencyNumber] "placeholder="(xxx) xxx-xxxx">
            </div>
        </div>
    </div>
    <div class='two wide field'>
      <input type='submit' class='ui submit button' name='configure' value='Submit'>
    </div>
  </div>
</form>


<script type="text/javascript" src='/js/user.js'></script>
<% include ./partials/foot %>